:root {
    --white: #fff;
    --black: #000;
    --gray: #c7cdd1;
    --lightblue: #47adf1;
    --green: #64c0a9;
    --purple: #9c72e4;
    --pink: #d863a1;
    --orange: #f29e33;
    --lightgreen: #b0c926;

}

/* generali */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--gray);
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 40px;
}

/* logo section */

.logo-section {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;
}

.logo {
    vertical-align: middle;
}

.title {
    vertical-align: middle;
    font-size: 2rem;
}

/* main */

/* button */
button {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 5px 10px;
}

.task-button {
    color: var(--white);
    margin: 10px 0px 10px 70px;
    background-color: var(--lightblue);
}

.section-button {
    color: #c7cdd1;
}

.separator{
    border: 3px solid var(--gray);
    width: 100%;
    margin: 30px 0;
}
/* task */

/* colori span */

.bg-lightblue{
background-color: var(--lightblue);
}
.bg-purple{
    background-color: var(--purple);
}
.bg-green{
    background-color: var(--green);
}
.bg-orange{
    background-color: var(--orange);
}
.bg-pink{
    background-color: var(--pink);
}
.bg-lightgreen{
    background-color:var(--lightgreen);
}
li{
    list-style-type: none;
    padding: 5px;
}

.type{font-size: 12px;
    padding: 5px;
    border-radius: 30%;
    color: #fff;
    margin-bottom: 10px;
}

.check{
    color: green;
    border:1px solid green;
    border-radius: 50%;
}

.cross{
    color: red;
    border:1px solid red;
    border-radius: 50%;
}