:root {
    --white: #fff;
    --black: #000;
    --gray: #c7cdd1;
    --lightblue: #47adf1;
    --green: #64c0a9;
    --purple: #9c72e4;
    --pink: #d863a1;
    --orange: #f29e33;
    --lightgreen: #b0c926;

}

.bg-lightblue {
    background-color: var(--lightblue);
}

/* generali */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--gray);
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}

/* logo section */

.logo-section {
    margin-bottom: 30px;
    padding: 15px;
}

.logo {
    vertical-align: middle;
}

.title {
    vertical-align: middle;
    font-size: 2rem;
}

/* main */

/* button */
button {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 5px 10px;
}

.task-button {
    color: var(--white);
    margin: 10px 0px 10px 70px;
}

.section-button {
    color: #c7cdd1;
}