:root {
    --white: #fff;
    --black: #000;
    --gray: #F0F0F0;
    --lightblue: #47adf1;
    --green: #64c0a9;
    --purple: #9c72e4;
    --pink: #d863a1;
    --orange: #f29e33;
    --lightgreen: #b0c926;

}

/* colori background */

.bg-lightblue {
    background-color: var(--lightblue);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-green {
    background-color: var(--green);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-lightgreen {
    background-color: var(--lightgreen);
}

/* generali */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--gray);
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 10px;
}

/* logo section */

.logo-section {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;
}

.logo {
    vertical-align: middle;
}

.title {
    vertical-align: middle;
    font-size: 2rem;
}

/* main */

/* button */
button {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 5px 10px;
}

.task-button {
    color: var(--white);
    margin: 10px 0px 10px 70px;
    background-color: var(--lightblue);
}

.section-button {
    color: #c7cdd1;
    margin: 15px;
}

.separator {
    border: 3px solid var(--gray);
    width: 100%;
    margin-bottom: 30px;
}

/* task */

li {
    list-style-type: none;
    padding-bottom: 15px;
}

.type {
    font-size: 12px;
    padding: 6px;
    border-radius: 38%;
    color: #fff;
    margin-bottom: 10px;
}

.check {
    padding: 2px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;

}

.cross {
    padding: 2px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

li ul {
    padding: 0;
}

h2 {
    margin: 5px 0 15px;
}